@import 'fonts';
@import 'vars';
@import 'global';

// start header

.header {
    background-color: rgb(238, 241, 243);
}
.header__logo{
    margin-left: 7px;
}
.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.header__btn,
.btn{
    margin-right: 45px;
    background-color: $blue;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 14px;
    padding: 13px 19px;
    border-radius: 30px;
    line-height: 10px;
    font-weight: 300;
}
.header__btn{
    transition: all .3s;
    &:hover{
        background-color: #fff;
        color: $blue;
    }
}

.header__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.header__icon{
    font-family: 'Quicksand', sans-serif;
    a{
        position: relative;
        &::before{
            font-family: 'Linearicons-Free';
            font-size: 20px;
            color: #7e8fa1;
            margin-right: 30px;
        }
    }
    span{
        position: absolute;
        top: -16px;
        right: 16px;
        color: #fff;
        font-size: 14px;
        width: 22px;
        height: 22px;
        text-align: center;
        border-radius: 50%;
        line-height: 23px;
    }
    
}

.notificatin span {
    background-color: rgb(255, 106, 108);
    text-align: center;
}

.massege span {
    background-color: rgb(98, 208, 59);
}
.basket span {
    background-color: $blue;
}

.user {
    margin-left: 30px;
}

.user__inner {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.user__images {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
}

.user__info {
    font-size: 16px;
    line-height: 22px;
}

.user__name {
    color: rgb(51, 51, 51);
    font-weight: 500;
}

.user__mony {
    color: $blue;
    font-weight: 300;
}

.header__menu {
    background-color: rgb(255, 255, 255);
}

.header__menu-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.menu__list a {
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    font-weight: 500;
}
.menu__list li {
    display: inline-block;
    & + li {
        margin-left: 30px;
    }
}

.header__search-form {
    max-width: 360px;
    position: relative;
    input {
        display: block;
        width: 100%;
        height: 45px;
        padding-left: 25px;
        margin-right: 185px;
        padding-right: 80px;
        font-size: 15px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(217, 223, 229);
        border-image: initial;
        border-radius: 20px;
        outline: none;
    }
    button {
        position: absolute;
        background-color: rgb(6, 116, 236);
        right: 0px;
        top: 0px;
        height: 100%;
        width: 70px;
        cursor: pointer;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
        border-radius: 20px;
        outline: none;
        &::before {
            content: "";
            font-family: 'Linearicons-Free';
            font-size: 15px;
            color: rgb(255, 255, 255);
        }
    }
}

// //end product-page
// // start search

.search__inner {
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 180px;
    padding-bottom: 233px;
}

.search__inner-title {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 30px;
}

.search__inner-title {
    font-weight: 700;
}

.search__inner-text {
    font-size: 20px;
    margin-bottom: 60px;
    font-weight: 500;
}

.search__inner-btn button {
    background-color: transparent;
    font-size: 16px;
    color: #fff;
    margin-left: 30px;
    cursor: pointer;
    padding: 20px 30px;
    border: 1px solid #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    line-height: 10px;
    outline: none;
    transition: all 0.5s;
    &:hover{
        background-color: #fff;
        color: $blue;
    }
}

.search__wrapper {
    position: relative;
    max-width: 1140px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 20px 0px;
    font-size: 16px;
    border-radius: 6px;
}


.search__wrapper-form {
    position: absolute;
    top: -75px;
}

.search__inner-form {
    position: relative;
    min-width: 1140px;
    width: 100%;
    z-index: 3;
    background-color: #fff;
    border-radius: 6px;
}

.search__inner-form::before {
    content: "";
    background-color: rgb(255, 255, 255);
    opacity: 0.502;
    position: absolute;
    max-width: 1075px;
    width: 100%;
    height: 64px;
    top: -26px;
    left: 33px;
    z-index: -1;
    border-radius: 6px;
}

.search__wrapper input {
    margin: 40px 0px 40px 40px;
    padding: 20px 380px 20px 25px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(220, 220, 220);
    border-image: initial;
}

.search__wrapper{
    button{
    background-color: rgb(6, 116, 236);
    color: rgb(255, 255, 255);
    margin-right: 45px;
    margin-left: 30px;
    cursor: pointer;
    padding: 20px 65px;
    border-radius: 5px;
    }

}
.search__inner-form{
    .jq-selectbox {
        width: 195px;
        margin-bottom: 4px;
        margin-left: -5px;
    }

    .jq-selectbox__select {
        height: 60px;
        padding: 20px 80px 20px 20px;
        border: 1px solid #dcdcdc;
        border-bottom-color: #dcdcdc;
        border-radius: 4px;
        background: transparent;
        box-shadow: none;
        font-family: 'Quicksand', sans-serif;
        color: #555;
        text-shadow: none;
        line-height: 24px;
        &:hover {
            background: none;
        }
    }
    .jq-selectbox__select-text{
        width: 100% !important;
    }

    .jq-selectbox__trigger-arrow {
        border: none;
        top: 19px;
        right: 24px;
        font-size: 12px;

        &::before {
            content: "\e874";
            font-family: 'Linearicons-Free';
        }
    }

    .jq-selectbox__trigger {
        border-left: none;
    }

    .jq-selectbox__dropdown {
        top: 58px !important;
    }

  
}
.search__inner-form::after {
    content: "";
    background-color: rgb(255, 255, 255);
    opacity: 0.502;
    position: absolute;
    top: -13px;
    left: 15px;
    max-width: 1110px;
    width: 100%;
    height: 64px;
    z-index: -1;
    border-radius: 6px;
}

// //end search
// //start advantage
.advantage{
    padding-bottom: 120px;
}

.advantage__items {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 187px;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
}

.advantage__item {
    height: 403px;
    align-items: center;
    transition: all 0.3s;
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 50px 0px;
        border-radius: 4px;
    }
}

.advantage__item-img {
    margin-top: 40px;
}

.advantage__item-title {
    font-size: 24px;
    color: rgb(0, 0, 0);
    margin-top: 30px;
    margin-bottom: 30px;
}

.advantage__item-text {
    color: rgb(85, 85, 85);
    width: 294px;
    margin-bottom: 45px;
    margin-left: 35px;
    margin-right: 35px;
}

// // end advantage

// // start product-slider

.product-slider {
    padding-top: 116px;
    padding-bottom: 100px;
    background-color: rgb(239, 241, 245);
}
.slider__title,
.product-title {
    font-size: 30px;
    line-height: 28px;
    padding: 40px 30px;
}

// posmotret
.slider__box,
.product__inner-title {
    max-width: 1140px;
    width: 100%;
    margin-bottom: 60px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
}

.product__slider-items {
    position: relative;
    max-width: 1140px;
    width: 100%;
}

.slick-prev {
    position: absolute;
    top: -135px;
    right: 66px;
    
}

.slick-arrow {
    position: absolute;
    padding: 15px 25px;
    color: #fff;
    background-color: $purple;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    outline: none;
}
.slick-next{
    top: -135px;
    right: 30px;
}

.slick-prev::before,
.slick-next::before {
    font-family: 'Linearicons-Free';
    width: 9px;
    height: 14px;
}
.slick-prev::before{
    content: "\e875";
}
.slick-next::before {
    content: "\e876";
}

.product-slider__item {
    justify-content: space-between;
    background-color: #fff;
    display: flex !important;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
}

.product__item-inner {
    margin-left: 50px;
    max-width: 585px;
    width: 100%;
}

.product__item-title {
    color: #000;
    font-size: 24px;
    margin-top: 50px;
    font-weight: 500;
}

.product__item-user {
    margin-top: 20px;
    font-size: 15px;
}

.product__item-author {
    color: rgb(0, 0, 0);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.product-item__user {
    margin-left: 10px;
}

.product__item-thema {
    color: rgb(115, 71, 193);
    position: relative;
    margin-left: 20px;
    padding-left: 25px;
    &::before {
        content: url(../images/wp.png);
        position: absolute;
        width: 16px;
        height: 16px;
        left: 0px;
        top: 3px;
    }
}

.product__item-text {
    font-size: 15px;
    color: rgb(85, 85, 85);
    margin-bottom: 40px;
    margin-top: 30px;
    max-width: 475px;
    width: 100%;
}

.product__item-link {
    font-size: 15px;
    margin-bottom: 45px;

    a {
        color: rgb(134, 140, 150);
        background-color: rgb(241, 243, 246);
        margin-right: 7px;
        padding: 7px 15px;
        border-radius: 20px;
    }
}

.product__item-info {
    justify-content: space-between;
    align-items: center;
    padding-top: 23px;
    margin-right: 60px;
    display: flex;
    border-top: 1px solid rgb(236, 236, 236);
}

.item-info__inner {
    display: flex;
}

.product__item-price {
    color: #fff;
    background-color: $blue;
    font-weight: 500;
    font-size: 15px;
    margin-right: 20px;
    cursor: pointer;
    padding: 9px 18px;
    border-radius: 20px;
    line-height: 14px;
}

.product__item-list {
    -webkit-box-align: center;
    align-items: center;
    font-size: 15px;
    display: flex;
}

.lnr-heart {
    margin-right: 20px;
    color: rgb(85, 85, 85);

    &::before {
        content: "\e813";
        font-family: 'Linearicons-Free';
        color: $purple;
        margin-right: 10px;
    }
}

.lnr-cart { 
    color: $blue;
    &::before{
        content: "\e82e";
        margin-right: 10px;
        font-family: 'Linearicons-Free';
    }
}

// end product-slider
// start products

.products {
    padding-top: 120px;
    background-color: rgb(246, 247, 251);
}

.product__inner-title {
    max-width: 1140px;
    width: 100%;
    box-shadow: rgba(108, 111, 115, 0.1) 0px 2px 4px 0px;
    border-radius: 4px;
}

.product__inner-btn {
    max-width: 1140px;
    width: 100%;
    background-color: #fff;
    padding: 30px 113px 30px 30px;
    & .mixitup-control-active{
        background-color: $blue;
        color: #fff;
    }
}

.product__inner-btn button {
    background-color: rgb(241, 243, 246);
    font-size: 15px;
    color: rgb(116, 123, 134);
    cursor: pointer;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 9px 20px;
    border-radius: 20px;
    outline: none;
}

.product__inner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1140px;
    margin-top: 20px;
}

.product__inner-item {
    max-width: 360px;
    width: 100%;
    margin-top: 30px;
    background-color: #fff;
    box-shadow: rgba(108, 111, 115, 0.1) 0px 2px 4px 0px;
    border-radius: 4px;
}

.product__item-img {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.5s;
    a {
        width: 360px;
        height: 220px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    &:hover {
        // background-image: linear-gradient(180deg, rgb(6, 116, 236) 0%, rgb(61, 94, 215) 46%, rgb(115, 71, 193) 100%);
        // opacity: 0.902;
        
        button{
            display: block;
            &:hover{
                background-color: #fff;
                color: $blue;
            }
        }
    }
}
.product__img-btn{
    position: absolute;
    top: 90px;
    left: 47px;
    display: flex;
    button {
        display: none;
        background-color: transparent;
        color: #fff;
        font-weight: 500;
        cursor: pointer;
        padding: 17px 30px;
        border-width: 1px;
        border-style: solid;
        border-color: #fff;
        border-radius: 20px;
        & + button {
            margin-left: 10px;
        }
      
    }
}
   
.porducts__item-info {
    margin-left: 30px;
}

.poducts__item-title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.product__item-author {
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
}

.product-item__user {
    margin-left: 10px;
}

.products__item-text {
    font-size: 16px;
    line-height: 30px;
    color: rgb(85, 85, 85);
    padding: 30px 30px 30px 0px;
}

.products__item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-top: 1px solid rgb(236, 236, 236);
}

.products-content__wrapper {
    display: flex;
    align-items: center;
}

.products__item-price {
    margin-right: 15px;
    color: rgb(6, 116, 236);
    background-color: rgb(230, 241, 253);
    font-weight: 500;
    padding: 10px 17px;
    border-radius: 20px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.lnr-heart {
    margin-right: 20px;
    color: rgb(85, 85, 85);
    &::before {
        content: "\e813";
        font-family: 'Linearicons-Free';
        color: $purple;
        margin-right: 10px;
    }
}

.products__bottom-btn {
    margin-top: 60px;
    padding-bottom: 120px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.products__bottom-btn button {
    color: rgb(255, 255, 255);
    background-color: rgb(6, 116, 236);
    cursor: pointer;
    padding: 20px 30px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 30px;
    outline: none;
}

//start slider__feed
//end slider__feed
.slider__feed {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: rgb(239, 241, 245);
}

.slider__box-feed {
    margin-bottom: 0px;
}

.slider__feed-inner {
    display: flex;
    justify-content: space-between;
}
.slider__feed-inner{
    .slick-prev,
    .slick-next {
        top: -75px;
        background-color: rgb(6, 116, 236);
    }

    .slick-next {
        right: 55px;
    }

    .slick-prev {
        right: 92px;
    }
}


//strt achievements
.achievements {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(33, 34, 37);
}

.achievement__items {
    display: flex;
    justify-content: space-between;
}

.achievement__item {
    text-align: center;
}

.achievement-icon {
    margin-bottom: 50px;
    font-family: 'Linearicons-Free';
    font-size: 48px;
}

.briefcase {
    color: rgb(254, 183, 29);
}

.achievement__item-numbers {
    font-size: 36px;
    margin-bottom: 15px;
}

.achievement__item-text {
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.cloud-download {
    color: rgb(88, 201, 233);

}

.smile {
    color: rgb(119, 222, 81);
}

.users {
    color: rgb(255, 106, 109);
}

// start virtues
// end virtues

.virtues {
    padding-top: 120px;
    padding-bottom: 120px;
}

.virtues__title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;

    span {
        color: rgb(6, 116, 236);
    }
}

.virtues__text {
    max-width: 675px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: rgb(85, 85, 85);
    margin: 0px auto;
}

.virtues__items {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.virtues__item-icon{
    font-size: 60px;
    font-family: 'Linearicons-Free';
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
}

.virtues__item {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 50px 0px;
    max-width: 361px;
    width: 100%;
    height: 370px;
    margin-bottom: 30px;
    margin-right: 25px;
    border-radius: 4px;
}

.virtues__item-number {
    font-size: 48px;
    color: rgba(92, 135, 248, 0.2);
    margin-top: 20px;
    margin-left: 15px;
    font-weight: 300;
}

.virtues__item-title {
    text-align: center;
    font-size: 24px;
}

.lnr-license {
    color: rgb(6, 116, 236);
}

.virtues__item-text {
    color: rgb(85, 85, 85);
    text-align: center;
    max-width: 306px;
    width: 100%;
    padding: 30px 15px 60px;
    margin: 0px auto;
}

.lnr-magic-wand {
    color: rgb(127, 78, 194);
}

.lnr-lock {
    color: rgb(119, 222, 81);
}

.lnr-chart-bars {
    color: rgb(254, 183, 29);
}

.lnr-leaf {
    color: rgb(88, 201, 233);
}

.lnr-phone {
    color: rgb(255, 106, 109);
}

//end virtues
//start shopping__sell

.shopping{
    display: flex;
    justify-content: space-between;
}
.shopping__sell-inner{
    text-align: center;
}
.shopping__sell-title{
    font-size: 36px;
    color: #fff;
    margin-bottom: 30px;
}
.shopping__sell-icon{
    padding-top: 100px;
    padding-bottom: 50px;
}
.shopping__sell-text{
    font-size: 16px;
    padding-left: 185px;
    padding-right: 185px;
    padding-bottom: 50px;
    color: #fff;
    
}
.shopping__sell-btn{
    padding: 20px 30px;
    font-size: 16px;
    line-height: 15px;
    border: none;
    color: $blue;
    background-color: #fff;
    border-radius: 30px;
    margin-bottom: 100px;
    font-weight: 400;
}
.shopping-btn{
    color: $purple;
}

//end shopping
//start clients

.clients{
    padding-top: 120px;
    padding-bottom: 120px;
}

.clients__title,
.news__title {
    font-size: 36px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 35px;
    span{
        color: $blue;
    }
}
.clients__text,
.news__text {
    color: $grey;
    font-size: 16px;
    text-align: center;
    max-width: 670px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 60px;
}
.clients__inner{
    display: flex;
    margin-bottom: 60px;
}
.clients__inner-item{
    margin-left: 30px;
    padding: 50px 30px 50px 0;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    border-left: 2px solid $blue;
    .user__inner{
        position: relative;
        &::before{
            content: "\e83f";
            position: absolute;
            right: 0;
            font-size: 60px;
            padding-right: 40px;
            color: #e8e8e8;
            font-family: 'Linearicons-Free';
        }
    }
    .user__images{
        width: 80px;
        height: 80px;
    }
    .user__text{
        color: $grey;
        margin-top: 15px;
    }
}
.clients-item__text{
    max-width: 473px;
    width: 100%;
    margin-right: 40px;
    margin-top: 25px;
    margin-left: 40px;
    line-height: 28px;
    padding-right: 15px;
    color: $grey;
}
.clients__btn{
    text-align: center;
    a{
        font-size: 16px;
        text-align: center;
        margin: 0 auto;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
        transition: all .3s;
        &:hover {
            background-color: $purple;
            color: #fff;
        }
    }
   
    .btn{
        padding: 22px 40px;
    }
   
}


//end clients
//start news

.news{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #eff1f5;
}
.news__inner{
    display: flex;
    justify-content: space-between;
}
.news__item-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 361px;
    height: 230px;
}
.news__item{
    background-color: #fff;
    max-width: 360px;
    width: 100%;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
}
.news__item-title{
    margin: 30px;
    font-size: 22px;
    font-weight: 500;
    color: #000;
}
.news__item-text{
    margin: 0px 40px 30px 30px;
    color: $grey;
}
.news__item-box{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ececec;
    align-items: center;
}
.news__item-box{
   padding: 20px;
}
.news__item-icon {
    color: #7e7e7e;
    &::before {
        font-family: 'Linearicons-Free';
        margin-right: 10px;
    }
}
.lnr-clock::before{
    color: $blue;
}
.news__item-box__inner{
    display: flex;
    border-left: 1px solid #ececec;
    padding-left: 30px;
    
}
.news__item-comment{
    margin-right: 30px;
}

//end news
//start guarantee

.guarantee__inner{
    display: flex;
    justify-content: space-around;
}
.guarantee-mony__title{
    font-size: 24px;
    margin-top: 30px;
    span{
        color: $blue;
    }
    
}
.guarantee__box{
    text-align: center;
    padding: 60px 0 70px;
}
.guarantee__box-border{
    padding-right: 170px;
    border-right: 1px solid #e8eaf3;
}
.guarantee-suppot__title{
    font-size: 24px;
    margin-top: 30px;
    span{
        color: $purple;
    }
}
//end guarantee
//start join

.join__inner{
    padding-top: 105px;
    padding-bottom: 105px;
    text-align: center;
}
.join__title{
    margin-bottom: 25px;
    font-size: 36px;
    color: #fff;
}
.join__text{
    font-size: 18px;
    color: #fff;
    margin-bottom: 50px;
}
.join__link{
    background-color: #fff;
    color: $blue;
    padding: 20px 40px;
    border-radius: 30px;
    line-height: 15px;
    transition: all .3s;
    &:hover{
        background-color: $blue;
        color: #fff;
    }
}
//end join
//start footer

.footer {
    padding-top: 110px;
    background-color: #262b30;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
}
.footer__col{
    color: #ababab;
    a {
        color: #ababab;
    }
}
.footer__col-contact{
    max-width: 267px;
    width: 100%;
    margin-right: 20px;
}

.footer__col-text {
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 15px;
}

.footer__col-icon {
    line-height: 26px;
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
    &::before{
        position: absolute;
        font-family: 'Linearicons-Free';
        left: 0;
        
    }
}
.footer__col-phone{
    &::before{
        content: "\e830";
    }
}
.footer__col-email {
    &::before{
        content: "\e818";
    }
}

.footer__col-adress {
    
    &::before {
        top: 10px;
        content: "\e833";
    }
}
.footer__col-menu{
    max-width: 140px;
    width: 100%;
    li{
        margin-bottom: 17px;
    }
    
}
.footer__col-title{
    margin-bottom: 35px;
    color: #fff;
    font-size: 18px;
}
.footer__col-social{
    max-width: 360px;
    width: 100%;
}
.footer__form{
    position: relative;
    max-width: 360px;
    width: 100%;
    margin-top: 30px;
    input{
        background-color: #fff;
        border: none;
        border-radius: 20px;
        width: 100%;
        padding: 15px 125px 15px 25px;
        outline: none;
        &::placeholder{
            color: #ababab;
            font-size: 15px;
        }
    }
    button {
        position: absolute;
        color: #fff;
        border: none;
        background-color: $blue;
        border-radius: 20px;
        padding: 15px 30px;
        right: 0;
        cursor: pointer;
    }
}
.footer__col-link{
    ul{
        display: flex;
    }
    li{
        position: relative;
        margin-right: 13px;
        margin-top: 50px;
    }
    a{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 16px;
        color: #fff;
        &::before{
            position: absolute;
            top: 11px;
            left: 13px;
        }
    }
    
}
.icon-facebook{
    background-color: #395799;
}
.icon-twitter{
    background-color: #19b2f5;
}
.icon-google {
    background-color: #f05b44;
}

.icon-pinterest {
    background-color: #9c0c1c;
}

.icon-linkedin {
    background-color: #0da6be;
}

.icon-dribbble {
    background-color: #ea4c89;
}
.footer__copy{
    background-color: #192027;
    padding: 40px 0;
    text-align: center;
}
.footer__copy-text{
    color: #999999;
    span{
        color: #fff;
    }
}
//end footer

//start page-search

.page-search{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.page-search__inner{
    padding-top: 85px;
    padding-bottom: 30px;
    text-align: center;
}
.page-search__title{
   color: #fff;
   font-weight: 400;
   font-size: 26px;
   margin-bottom: 30px;
   span{
       font-weight: 500;
   }
}
.page-search__form{
    position: relative;
    max-width: 555px;
    margin: 0 auto;
    margin-bottom: 35px;
    input{
        border: none;
        width: 100%;
        padding: 20px 120px 20px 25px;
        border-radius: 30px;
        outline: none;
        line-height: 17px;
        font-size: 15px;
        &::placeholder{
            color: #747b86;
        }
    }
    button{
        position: absolute;
        background-color: $blue;
        color: #fff;
        border: none;
        border-radius: 30px;
        font-size: 15px;
        padding: 20px 30px;
        right: 0;
    }
}

.breadcrumbs__list {
    color: #fff;
    li{
        position: relative;
        display: inline-block;
        & + li {
            padding-left: 25px;
            &::before {
                content: '/';
                position: absolute;
                left: 9px;
                color: #fff;
            }
        }
    }
    a{
        color: #fff;
    }
    span{
        color: #bfcad7;
    }
    
}

//end page-search
// start product-page
.product-page{
    background-color: #eff1f5;
}

.product-page__filter{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    align-items: center;
  
}
.product-page__filter-inner{
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
}
.product-page__filter{
    
    .jq-selectbox {
        width: 219px;
        &+.jq-selectbox{
            margin-left: 30px;
        }
    }

    .jq-selectbox__select {
        height: 40px;
        padding: 8px 30px 8px 20px;
        border: 1px solid #dcdcdc;
        border-bottom-color: #dcdcdc;
        border-radius: 4px;
        background: transparent;
        box-shadow: none;
        font-family: 'Quicksand', sans-serif;
        color: #555;
        text-shadow: none;
        font-size: 14px;
        line-height: 24px;

        &:hover {
            background: none;
        }
    }
    .jq-selectbox__trigger-arrow {
        border: none;
        top: 9px;
        right: 24px;
        font-size: 12px;
        &::before {
            content: "\e874";
            font-family: 'Linearicons-Free';
        }
    }

    .jq-selectbox__trigger {
        border-left: none;
    }

    .jq-selectbox__dropdown {
        top: 38px !important;
    }
}
.product-page__filter-btn{
    button{
        font-size: 16px;
        color: #555555;
        border: none;
        background-color: transparent;
        cursor: pointer;
        margin-right: 20px;
        &.active {
            color: $blue;
        }
    }
}
.product-filter_btn{
    margin-left: 30px;
    height: 40px;
    border: 1px solid #dcdcdc;
    button{
        background-color: transparent;
        border: none;
        padding: 10px;
        outline: none;
    }
}
.product-page__filter-select{
    display: flex;
}
.product-page__wrapper{
    display: flex;
    margin-top: 70px;
    padding-bottom: 120px;
}

.aside__item{
    background-color: #fff;
    min-width: 260px;
    width: 100%;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
}

.aside__title{
    padding-bottom: 25px;
    font-size: 20px;
    color: #010101;
    border-bottom: 1px solid #e7ebee;
    position: relative;
    &::before{
        content: "\e874";
        font-family: 'Linearicons-Free';
        position: absolute;
        right: 0;
        font-size: 12px; 
        color: #555555;
    }
}
.aside__list{
    margin-top: 10px;
    a{
        color: $grey;
        font-size: 15px;
        padding-left: 20px;
        margin-top: 20px;
        position: relative;
        &.active{
            color: $blue;
        }
    }
}
.category__list{
    a{
        display: flex;
        justify-content: space-between;
        &::before {
            position: absolute;
            font-size: 10px;
            font-family: 'Linearicons-Free';
            content: "\e876";
            left: 0;
        }
    }
    span{
        color: #555;
    }
  
}
.filter__list{
    a{
        position: relative;
        &::before {
            position: absolute;
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 1px solid #555;
            left: 0;
            top: 7px;
        }
    }
    
}
.irs-min,
.irs-max {
    display: none;
}
.irs--flat .irs-line {
    top: 25px;
    height: 6px;
    background-color: #efedf3;
    border-radius: 3px;
}
.irs--flat .irs-bar {
    top: 25px;
    height: 6px;
    background-color: $purple;
}
.irs--flat .irs-handle>i:first-child {
    position: absolute;
    display: block;
    top: -3px;
    left: auto;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-left: -1px;
    border: 4px solid $blue;
    background-color: #fff;
}
.irs--flat .irs-handle.state_hover>i:first-child,
.irs--flat .irs-handle:hover>i:first-child {
    background-color: #fff;
}
.irs-from,
.irs-single,
.irs-to {
    top: 42px;
    left: 0;
    white-space: nowrap;
}
.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
    color: $purple;
    font-size: 15px;
    line-height: 12PX;
    text-shadow: none;
    padding: 10px 20px;
    background-color: #f1ecf9;
    border-radius: 30px;
}
.irs--flat .irs-from:before,
.irs--flat .irs-single:before,
.irs--flat .irs-to:before {
    position: absolute;
    display: block;
    content: "";
    bottom: -6px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -3px;
    overflow: hidden;
    border: 3px solid transparent;
    border-top-color: transparent;
}
.pricing-range{
    form{
        padding-top: 30px;
    }
    button{
        margin-top: 30px;
    }
}
.product-page__items{
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}
.product-page__item{
    background-color: #fff;
    max-width: 262px;
    width: 100%;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    margin-right: 30px;
    margin-bottom: 30px;
    transition: all .5s;
    &.list{
        max-width: 100%;
        display: flex;
        height: 210px;
        .product-page__img {
            height: 210px;
            img{
                width: 230px;
                height: 100%;
            }
            float: left;
        }
        .product-item__title {
            display: none;
        }
        .product-page__info{
            display: block;
            width: 260px;
            margin-top: 30px;
            margin-bottom: 30px;
            padding-left: 30px;
            padding-right: 5px;
            border-right: 1px solid #ececec;
        }
        .product-item__title-list {
            display: block;
            width: 215px;
            font-size: 18px;
            font-weight: 500;
            padding-bottom: 20px;
        }
        .product-item__text{
            display: block;
            margin-bottom: 15px;
        }
        .large{
            display: none;
        }
        .product-item__icon{
            display: block;
            width: 207px;
            padding-left: 20px;
            border-right: 1px solid #ececec;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .rate-star{
            display: none;
        }
        .rate-star.list {
            display: inline-block;
            margin-right: 10px;
            padding: 0;
        }
        .rate-star__list{
            color: #6f7d8d;
        }
        .product-item__icon.product-item__user{
            display: block;
        }
        .product-item__user{
            padding: 10px 0;
            margin-left: 0;
        }
        .product__icon-heart{
            color: #6f7d8d;
            position: relative;
            margin: 0;
            padding-left: 20px;
            margin-bottom: 10px;
            &::before{
                position: absolute;
                left: 0;
            }
        }
        .product__icon-comments{
            padding-left: 20px;
            position: relative;
            color: #6f7d8d;
            margin-bottom: 8px;
            &::before{
                position: absolute;
                font-family: 'Linearicons-Free';
                color: $purple;
                left: 0;
            }
        }
        .product-item__raiteng{
            display: inline-block;
        }
        .product-item__info{
            display: inline-block;
        }
        .product-item__info.large{
            display: none;
        }
        .product-item__info.list {
            display: block;
            padding: 70px 30px 66px 0px;
            .product-item__basket{
                margin-top: 30px;
            }
        }
    }
    
}
.product-item__info.list{
    display: none;
}
 .product-item__icon.product-item__user {
     display: none;
 }
.rate-star.list{
    display: none;
}
.product-item__icon{
    display: none;
}
.product-page__info{
    display: none;
}
.product-item__title-list{
    display: none;
}
.product-item__text{
    display: none;
}
.icon-th-list,
.icon-th-large {
    &.active {
    stroke: rgb(6, 116, 236);
    
    }
}

.product-item__img{
    img{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 262px;
        height: 160px;
    }
}

.product-item__title{
    font-weight: 500;
    font-size: 18px;
    color: #000;
    padding: 10px 20px;
}
.product-item__user{
    display: flex;
    align-items: center;
    padding: 0px 10px;
}
.product-item__user-name{
    color: #000;
    margin-left: 8px;
}
.product-item__raiteng{
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 10px 20px;
}
.product-item__info {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ececec;
    padding: 15px 20px;
    align-items: center;
}

.product-item__price {
    color: $blue;
    background-color: #e6f1fd;
    padding: 8px 20px;
    font-weight: 50;
    border-radius: 30px;
    line-height: 14px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}
.pricing-range{
    text-align: center;
    .aside__title{
        text-align: left;
    }
    
    button{
        background-color: $blue;
        color: #fff;
        border: none;
        padding: 15px 20px;
        border-radius: 30px;
        line-height: 12px;
        margin-top: 60px;
    }
}

.product-item__thema {
    color: $purple;
    padding-left: 20px;
    position: relative;
    &::before{
        content: url(../images/wp.png);
        position: absolute;
        left: 0;
        top: 3px;
    }
}
.pagination{
    display: flex;
    float: right;
    margin-right: 21px;
    button{
        border: none;
        background-color: #fff;
        font-size: 16px;
        padding: 10px 15px;
        border-radius: 20px;
        cursor: pointer;
        transition: all .3s;
        &::before{
            font-family: 'Linearicons-Free';
        }
        &:hover{
            background-color: $purple;
            color: #fff;
        }
    }
}
.pagination__list{
    ul{
        display: flex;
        margin-right: 20px;
        margin-left: 20px;
    }    
    a{
        background-color: #fff;
        font-size: 16px;
        padding: 10px 20px;
        border-radius: 20px;
        margin-right: 5px;
        line-height: 18px;
        color: #747b86;
        &.active{
            background-color: $blue;
            color: #fff;
        }
    }

}
// end product-page
